@tailwind base;
@tailwind components;
@tailwind utilities;

.mind-map-container {
  width: 3000px;
  height: 3000px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.mind-map {
  display: flex;
  justify-content: center;
  align-items: center;
}

.node {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  background-color: white;
  transition: all 0.3s ease;
  position: relative;
}

.node.selected {
  border-color: #4caf50;
  box-shadow: 0 0 10px rgba(76, 175, 80, 0.5);
}

.node-content {
  display: flex;
  align-items: center;
  min-width: 150px;
  min-height: 30px;
}

.text-content {
  margin: 0 10px;
  cursor: text;
}

.collapse-button,
.add-child-button,
.add-sibling-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  transition: color 0.3s ease;
}

.collapse-button:hover,
.add-child-button:hover,
.add-sibling-button:hover {
  color: #4caf50;
}

.add-child-button {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 20px;
  top: 3.5%;
  transform: translateY(-50%);
  z-index: 100;
}

.add-sibling-button {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.children {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  position: relative;
  overflow: hidden;
  max-height: 1000px; /* 큰 값으로 설정 */
  transition: max-height 0.5s ease;
}

.children::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 2px;
  height: 100%;
  background-color: #ccc;
}

.children.collapsed {
  max-height: 0;
}

input {
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
}

.zoom-controls {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.zoom-controls button {
  margin-left: 10px;
  background-color: #4caf50;
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
}
